@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background-color: #161722;
}
header .contact {
  padding: 20px 48px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffd2a4;
  color: #1c1d28;
}
header .contact:hover {
  background-color: #f2c79b;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #161722;
  z-index: 1000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: 0.6s;
}

#navbar-responsive {
  transition: 0.8s;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  gap: 40px;
}
.nav-items .nav-item a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
}
.nav-items .nav-item a:hover {
  color: #F67E7E;
}

.close {
  display: none;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: transparent;
  border: none;
  border-radius: none;
}
.close img {
  width: 32px;
}

.hamburger {
  display: none;
  margin-top: -3px;
  text-align: end;
  border: none;
  background-color: transparent;
}
.hamburger img {
  width: 32px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 30px 0;
  }
  #navbar-responsive {
    background: url(../../images/home/navbar-responsive.png) no-repeat 100% 100%;
    background-color: #161722;
    opacity: 1 !important;
  }
  .nav-right {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    height: 100%;
    width: 65%;
    flex-direction: column;
    justify-content: center;
  }
  .nav-items {
    margin-top: -250px;
    margin-left: -100px;
    margin-bottom: 36px;
    flex-direction: column;
    gap: 24px;
  }
  .hamburger, .close {
    display: block;
  }
}
footer {
  padding-top: 100px;
  background-color: #161722;
}

.footer {
  padding: 64px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.footer-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}
.footer-left__info h6 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 32px;
  cursor: pointer;
}
.footer-left__info p {
  font-family: "Roboto Condensed";
  font-style: normal;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-item {
  margin-left: 70px;
  margin-bottom: 24px;
}
.footer-item a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.78;
}
.footer-item:first-child a {
  font-size: 16px;
  line-height: 24px;
  opacity: 1;
}

.footer__more h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer__more p i {
  margin-top: 20px;
  margin-right: 20px;
  color: #FFD2A4;
  cursor: pointer;
}

.footer-right__title h1 {
  margin-bottom: 32px;
  max-width: 440px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__input {
  position: relative;
}
.footer__input input {
  padding: 20px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.footer__input button {
  padding: 20px 48px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffd2a4;
  color: #1c1d28;
  padding: 22px 64px;
  position: absolute;
  right: -100px;
}
.footer__input button:hover {
  background-color: #f2c79b;
}

@media (max-width: 1300px) {
  .footer__input button {
    padding: 22px 32px;
    right: 0;
  }
}
@media (max-width: 1100px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer-left {
    gap: 20px;
    margin-bottom: 70px;
  }
  .footer-item {
    margin-left: 50px;
  }
  .footer-right__title h1 {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer-left {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
  }
  .footer-item {
    margin-left: 0px;
  }
  .footer__more p i {
    margin: 30px 10px 0;
  }
  .footer__our-team {
    margin-left: 0;
  }
  .footer__input button {
    padding: 22px 20px;
  }
}
.header {
  text-align: center;
}
.header h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.header h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}

#home {
<<<<<<< HEAD
  background: url(../../images/home/women.png);
  max-width: 100%;
=======
  padding-top: 100px;
  max-width: 100%;
  background: url(../../assets/images/home/women.png) no-repeat;
  background-size: cover;
}

.home {
  padding-top: 60px;
  padding-bottom: 80px;
}
.home__title6 {
  font-family: "Roboto Condensed";
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.home__title1 {
  max-width: 592px;
  font-style: normal;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.home__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffd2a4;
  color: #1c1d28;
  margin-bottom: 64px;
}
.home__btn:hover {
  background-color: #f2c79b;
}
.home__text {
  max-width: 308px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
<<<<<<< HEAD
}

.title {
  padding-top: 128px;
  padding-bottom: 64px;
  text-align: center;
}
.title h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
.title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}

.cards {
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.cards .card {
  padding: 80px;
  background: #FFF5EB;
}
.cards .card .card__item h4 {
  padding-top: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #161722;
  text-transform: uppercase;
}
.cards .card .card__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}

.love__title {
  text-align: center;
}
.love__title h6 {
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
.love__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
.love__title .text {
  padding-top: 32px;
  padding-bottom: 56px;
}
.love__title .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.love__title button {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.love__title button:hover {
  background-color: #f2c79b;
}

.love__img {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.love__img img {
  max-width: 100%;
}
.love__img .img2 {
  padding-top: 72px;
}

.love__footer {
  padding-top: 64px;
  text-align: center;
}
.love__footer h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
.love__footer h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
.love__footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.love__footer__end {
  padding-bottom: 128px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161722;
}

#benefit {
  background: #F5F2F0;
}
#benefit .benefits h6 {
  padding-top: 128px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
#benefit .benefits h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
#benefit .benefits__card {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}

#join .join__title {
  padding-bottom: 64px;
}
#join .join__title h6 {
  padding-top: 128px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
#join .join__title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
#join .main__top__card {
  display: flex;
  height: 539px;
  margin-bottom: 48px;
}
#join .main__top__card__left {
  background: #FFF5EB;
  padding: 32px 32px 61px 89px;
}
#join .main__top__card__left .date {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  margin-left: 33px;
}
#join .main__top__card__left .date h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #161722;
  text-transform: uppercase;
}
#join .main__top__card__left .date h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
#join .main__top__card__left .top__left__main {
  display: flex;
  align-items: start;
  flex-direction: column;
}
#join .main__top__card__left .top__left__main p {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#join .main__top__card__left .top__left__main h5 {
  max-width: 210px;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 210px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #161722;
  text-transform: uppercase;
}
#join .main__top__card__left .top__left__main h6 {
  width: 256px;
  margin-bottom: 32px;
  max-width: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: none;
  opacity: 0.78;
}
#join .main__top__card__left .top__left__main .schedules {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
#join .main__top__card__left .top__left__main .schedules .schedule {
  display: flex;
}
#join .main__top__card__left .top__left__main .schedules .schedule__right {
  margin-left: 16px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
#join .main__top__card__left .top__left__main .schedules .schedule__right h6 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
#join .main__top__card__left .top__left__main .register {
  margin-top: 32px;
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #161722;
  color: #ffd2a4;
}
#join .main__top__card__left .top__left__main .register:hover {
  color: #fff;
}
#join .main__top__card__right {
  width: 100%;
  background: url("../../assets/images/home/a-man-and-woman-wearing-angel-costumes-8513040.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#join .join__footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}
#join .join__footer a {
  padding-top: 3px;
}

#serve {
  padding-top: 100px;
  padding-bottom: 128px;
  max-width: 100%;
  background: url(../../assets/images/home/background.png) no-repeat;
  background-size: cover;
}
#serve .serve__cards {
  margin-left: 250px;
  max-width: 768px;
  background: #FFFFFF;
}
#serve .serve__cards .serve__card {
  padding: 72px 48px;
  display: flex;
  gap: 117px;
  align-items: center;
}
#serve .serve__cards .serve__card__content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
#serve .serve__cards .serve__card__content p {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
#serve .serve__cards .serve__card__content button {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffd2a4;
  color: #1c1d28;
}
#serve .serve__cards .serve__card__content button:hover {
  background-color: #f2c79b;
}

.share__title h6 {
  padding-top: 128px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
  text-transform: uppercase;
}
.share__title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #161722;
  text-transform: uppercase;
}
.share__cards {
  padding-top: 64px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.share__cards .share__card {
  padding: 48px 32px;
  background: #FFF5EB;
}
.share__cards .share__card__item .text1 {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.share__cards .share__card__item h5 {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #161722;
  text-transform: uppercase;
}
.share__cards .share__card__item .text2 {
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.share__cards .share__card__item .text3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #161722;
}
.share__cards .share__card__item time {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
=======
>>>>>>> fc457eae704d657550e3500b9410c8be3f02a403
>>>>>>> 7ff50bb27753f9e5d0e29cfdb4047cc276302d0d
}