@use '../global';
@use "../utils/mixin" as mixin;
@use "../utils/variables" as var;


#home {
    padding-top: 100px;
    background: url(../../assets/images/contact/bg.png) no-repeat;
    background-size: cover;
}

.home {
    padding: 160px 0;
    p {
        font-family: 'Roboto Condensed';
        font-style: normal;
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;      
        text-transform: uppercase;
        color: #FFD2A4;        
    }

    h1 {
        max-width: 409px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

#contact {
    background: #E5E5E5;
}

.contact {
    padding: 128px 0;
    display: flex;
    align-items: center;
    gap: 128px;
    & > div {
        width: 50%;
    }
    &-left {
        h2 {
            font-family: 'Roboto Condensed';
            font-style: normal;
            margin-bottom: 32px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #1E1B1B;
        }

        input {
            padding: 20px;
            width: 100%;
            margin-bottom: 12px;
            border: none;
            outline: none;
            background: #FFFFFF;
            border-radius: 4px;
        }

        textarea {
            padding: 20px;
            width: 100%;
            height: 120px;
            margin-bottom: 12px;
            resize: none;
            border: none;
            outline: none;
            background: #FFFFFF;
            border-radius: 4px;
        }
        button {
            @include mixin.primary-btn;
            width: 100%;

            &::placeholder {
                font-family: 'Roboto Condensed';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #161722;
            }
        }
    }

    &-right {
        p {
            margin-bottom: 8px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #1E1B1B;
            opacity: 0.7;
        }

        h1 {
            max-width: 242px;
            margin-bottom: 32px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #161722;            
        }
        h2 {
            i {
                margin-top: 8px;
                margin-right: 32px;
            }
        }

    }
}

// loader
// .loader {
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     background-color: var.$black;
//     transition: 0.5s;
//     z-index: 10000;
// }

// .loading{
//     width:100px;
//     height:100px;
//     margin:30px auto;
//     position:fixed;
//     top: 50%;
//     left: 50%;
//     margin-left: -50px;
//     margin-top: -50px;
// }

// .loading.bar div{
//     width: 100px;
//     height: 30px;
//     background: white;
//     position: absolute;
//     top: 35px;
//     left: 45px;
//     opacity:0.05;
//     -webkit-animation: fadeit 1.1s linear infinite;
//     -moz-animation: fadeit 1.1s linear infinite;
//     animation: fadeit 1.1s linear infinite;
//       top: 50%;
//     left: 50%;
//     margin-left: -50px;
//     margin-top: -50px;
// }

// .loading.bar div:nth-child(1){
//     -webkit-transform: rotate(0deg) translate(0, -30px);
//     -moz-transform: rotate(0deg) translate(0, -30px);
//     transform: rotate(0deg) translate(0, -30px); 

//     -webkit-animation-delay:0.39s;
//     -moz-animation-delay:0.39s;
//     animation-delay:0.39s;
// } 

// .loading.bar div:nth-child(2){
//     -webkit-transform: rotate(45deg) translate(0, -30px);
//     -moz-transform: rotate(45deg) translate(0, -30px);
//     transform: rotate(45deg) translate(0, -30px); 

//     -webkit-animation-delay:0.52s;
//     -moz-animation-delay:0.52s;
//     animation-delay:0.52s;
// } 

// .loading.bar div:nth-child(3){
//     -webkit-transform: rotate(90deg) translate(0, -30px);
//     -moz-transform: rotate(90deg) translate(0, -30px);
//     transform: rotate(90deg) translate(0, -30px); 

//     -webkit-animation-delay:0.65s;
//     -moz-animation-delay:0.65s;
//     animation-delay:0.65s;
// } 

// .loading.bar div:nth-child(4){
//     -webkit-transform: rotate(135deg) translate(0, -30px);
//     -moz-transform: rotate(135deg) translate(0, -30px);
//     transform: rotate(135deg) translate(0, -30px); 

//     -webkit-animation-delay:0.78s;
//     -moz-animation-delay:0.78s;
//     animation-delay:0.78s;
// } 

// .loading.bar div:nth-child(5){
//     -webkit-transform: rotate(180deg) translate(0, -30px);
//     -moz-transform: rotate(180deg) translate(0, -30px);
//     transform: rotate(180deg) translate(0, -30px); 

//     -webkit-animation-delay:0.91s;
//     -moz-animation-delay:0.91s;
//     animation-delay:0.91s;
// } 

// .loading.bar div:nth-child(6){
//     -webkit-transform: rotate(225deg) translate(0, -30px);
//     -moz-transform: rotate(225deg) translate(0, -30px);
//     transform: rotate(225deg) translate(0, -30px); 

//     -webkit-animation-delay:1.04s;
//     -moz-animation-delay:1.04s;
//     animation-delay:1.04s;
// } 

// .loading.bar div:nth-child(7){
//     -webkit-transform: rotate(270deg) translate(0, -30px);
//     -moz-transform: rotate(270deg) translate(0, -30px);
//     transform: rotate(270deg) translate(0, -30px); 

//     -webkit-animation-delay:1.17s;
//     -moz-animation-delay:1.17s;
//     animation-delay:1.17s;
// } 

// .loading.bar div:nth-child(8){
//     -webkit-transform: rotate(315deg) translate(0, -30px);
//     -moz-transform: rotate(315deg) translate(0, -30px);
//     transform: rotate(315deg) translate(0, -30px); 

//     -webkit-animation-delay:1.3s;
//     -moz-animation-delay:1.3s;
//     animation-delay:1.3s;
// }

// @-webkit-keyframes fadeit{
//     0%{
//          opacity:1;
//     }
//     100%{
//          opacity:0;
//     }
// }
// @-moz-keyframes fadeit{
//     0%{
//          opacity:1;
//     }
//     100%{
//          opacity:0;
//     }
// }
// @keyframes fadeit{
//     0%{
//          opacity:1;
//     }
//     100%{
//          opacity:0;
//     }
// }


@media (max-width: 800px) {
    .contact {
        flex-direction: column;
        & > div {
            width: 100%;
        }
        &-right {
            text-align: center;
            
            p,h1 {
                max-width: 100%;
            }

            h2 {
                i {
                    margin: 8px 10px 0;
                }
            }
        }
    }


}